body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u438 {
  position:fixed;
  left:50%;
  margin-left:-69.5px;
  top:50%;
  margin-top:-84.5px;
}
#u438_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:139px;
  height:169px;
  background-image:none;
}
#u438_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:100px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:100px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:139px;
  height:59px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
